@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,800;1,200;1,300&display=swap');


@mixin flex-r {
	display: flex;
	flex-direction: row;
}

@mixin flex-c {
	display: flex;
	flex-direction: column;
}

@mixin flex-m {
	display: flex;
	align-items: center;
	justify-content: center;
}


@mixin flex-b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}