@import './admin/index';

html, * {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	background: none;
	outline: none;
	border: none;
}

button.btn {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}